.mainBlock {
	position: absolute;
	background-color: rgb(9, 9, 9);
	opacity: 0.6;
	max-width: 80%;
	height: fit-content;
	font-size: 5vw;
	border-radius: 20px;
	border: 1px solid grey;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 30%;
}
.contentBlock {
	width: 80%;
	height: 80%;
	justify-content: center;
	align-items: center;
	display: flex;
}

.title {
	padding: 30px;
	font-size: 0.2em;
	color: white;
}

@media (max-width: 1200px) {
	.mainBlock {
		bottom: 10%;
	}
	.title {
		font-size: 0.3em;
	}
}

@media (max-width: 900px) {
	.mainBlock {
		bottom: 12%;
	}
	.title {
		font-size: 0.4em;
	}
}
