.mainBlock {
	position: absolute;
	background-color: rgb(9, 9, 9);
	opacity: 0.6;
	width: 30vw;
	height: 15vw;
	font-size: 5vw;
	border-radius: 20px;
	border: 1px solid grey;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 40%;
}
.contentBlock {
	width: 80%;
	height: 80%;
	justify-content: center;
	align-items: center;
	display: flex;
}

.title {
	color: white;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 1200px) {
	.mainBlock {
		width: 70vw;
		height: 40vw;
	}
}
