.mainBlock {
	position: absolute;
	background-color: rgb(9, 9, 9);
	opacity: 0.6;
	min-width: 20%;
	max-width: 80%;
	height: auto;
	font-size: 8vw;
	border-radius: 20px;
	border: 1px solid grey;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contentBlock {
	width: 90%;
	height: 90%;
	justify-content: center;
	align-items: center;
	display: flex;
}

.title {
	text-align: center;

	padding: 10px;
	font-size: 0.2em;
	color: white;
}

@media (max-width: 1200px) {
	.title {
		font-size: 0.5em;
	}
}

@media (max-width: 900px) {
	.contentBlock {
		width: 96%;
	}
	.title {
		font-size: 0.8em;
	}
}
